* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;

	/*The box-sizing CSS property sets how 
	the total width and height of an element is calculated.*/

	/*The border-box defines how the width and height of an 
	element are calculated: should they include padding and borders, 
	or not*/
}
.container {
	background-color: #eee;
	width: 75%
	margin: 0 auto;
	padding: 20px;
}

nav {
	background-color: #fff;
	border-bottom-width: 5px;
	border-style: solid;
	color: ##6dccde;
	height: 10vh;
	line-height: 10vh;
}

footer {
	background-color: #fff;
	border-top-width: 5px;
	border-style: solid;
	color: ##6dccde;
	height: 10vh;
	line-height: 4vh;
	border-bottom: 0;
}

nav a {
	text-decoration: none;
}

.nav-item {
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.active {
	background-color: #444;
	color: #6dccde;
	padding: 5px;
	border-radius: 10px;
}

h1, footer {
	font-family: 'Roboto Slab', serif;
	text-align: center;
}

h1 {
	margin-top: 10px;
	margin-bottom: 10px;
}

#contact-footer {
	position: fixed;
	width: 100%;
	bottom: 0;
}